.container {
  color: white;
  display: block;
  padding-left: 10%;
  padding-right: 10%;
}

.swapIcon {
  height: 200px;
  width: 200px;
  color: white;
  margin-top: auto;
  margin-bottom: auto;
}

.title {
  color: #ffffff99;
  font-weight: 600;
  font-size: 20px;
}

.subtitle {
  color: #ffffff99;
  font-weight: 600;
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.textBox {
  display: flex;
  align-items: center;
}

.swapInput {
  margin: 5px;
  line-height: 40px;
  width: 80px;
  background-color: transparent;
  border: 1px solid #ffffff66;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  text-align: center;
}

.swapPartLeft {
  margin-left: 0;
  margin-right: auto;
}

.swapPartRight {
  margin-left: auto;
  margin-right: 0;
}

.redeemDone {
  display: flex;
}

.redeemDetails {
  margin-left: 75px;
}
.redeemButton {
  margin: auto;
}
.redeemBox {
  margin: auto;
  justify-content: space-between;
}
