.container {
  color: white;
}

.container input::-webkit-outer-spin-button,
.container input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
.container input[type="number"] {
  -moz-appearance: textfield;
}

.placeholder {
  position: relative;
  display: inline-block;
  width: 100%;
}

.placeholder::after {
  position: absolute;
  right: 10px;
  top: 30px;
  content: attr(data-placeholder);
  pointer-events: none;
  opacity: 0.6;
}
