.container {
  color: white;
}

.container input::-webkit-outer-spin-button,
.container input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
.container input[type="number"] {
  -moz-appearance: textfield;
}
