.content {
  padding: 0 2rem;
  text-align: center;
}

.title {
  font-weight: 700;
  font-size: 48px;
  color: white;
}

.subtitle {
  font-weight: 700;
  font-size: 30px;
  color: #8b42ff;
}

.subcontent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.data {
  padding: 10px;
  margin: 20px;
  background-color: black;
  color: #ffffff66;
  border-radius: 5px;
}

.button {
  margin: 20px;
  border-radius: 5px;
  border: 0;
  height: 90px;
  width: 360px;
  font-size: 26px;
  font-weight: 700;
  color: white;
  background-color: #514761;
}

.purple {
  background: #7924ff;
}

.logo {
  display: flex;
  align-items: center;
  color: #fff;
  font-family: PROXIMA, sans-serif;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 1px;

  @media (max-width: 768px) {
    font-size: 15px;
  }

  @media (max-width: 376px) {
    font-size: 15px;
  }
}

.logo img {
  height: auto;
  width: 128px;
}

.right {
  margin-right: 1%;
  display: flex;
  color: grey;
  float: right;
}

.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 96px;
  background: rgba(255, 255, 255, 0.03);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
}

.ConnectButton {
  height: 40px;
  color: white;
  border: 1px solid transparent;
  border-radius: 20px;
  background-color: transparent;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.ConnectButton:hover {
  cursor: pointer;
  border: 1px solid white;
}

.accountAddress {
  margin: 8px;
}

.smallButton {
  margin-top: 5px;
  height: 33px;
  width: 33px;
  border: 1px solid transparent;
  border-radius: 12.5px;
  background-color: lightblue;
}

.smallbutton:hover {
  cursor: pointer;
}

.smallIcon {
  font-size: 20px;
  padding: 2px;
}

.copyHidden {
  visibility: hidden;
  font-size: 14px;
}
.exploreHidden {
  visibility: hidden;
  font-size: 14px;
}

#copy:hover + div.copyHidden {
  visibility: visible;
}

#explore:hover + div.exploreHidden {
  visibility: visible;
}

.icons {
  display: flex;
}

.hoverButton {
  justify-content: space-between;
  width: 50px;
}
