.content {
  padding: 0 2rem;
  text-align: center;
}

.title {
  font-weight: 700;
  font-size: 48px;
  color: white;
}

.subtitle {
  font-weight: 700;
  font-size: 30px;
  color: #8b42ff;
}

.subcontent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.data {
  padding: 10px;
  margin: 20px;
  background-color: black;
  color: #ffffff66;
  border-radius: 5px;
}

.button {
  margin: 20px;
  border-radius: 5px;
  border: 0;
  height: 90px;
  width: 360px;
  font-size: 26px;
  font-weight: 700;
  color: white;
  background-color: #514761;
}

.purple {
  background: #7924ff;
}

.details {
  color: white;
  font-size: 28px;
  font-weight: 600;
}

.value {
  color: white;
  font-size: 24px;
  font-weight: 600;
}

.sub_value {
  color: #767379;
  font-size: 15px;
  font-weight: 400;
}

.text {
  color: #ffffff99;
  font-size: 16px;
  font-weight: 400;
}

.upper_detail {
  background-color: #1a161f;
  padding: 20px;
}

.detail_intro {
  margin-bottom: 20px;
}

.container {
  padding: 80px 10%;
}

.divider {
  border-color: #ffffff1a;
  border-width: 1px;
  width: 90%;
  margin: 20px 0;
}

.dividerFull {
  border-color: #ffffff1a;
  border-width: 1px;
  width: 100%;
  margin: 20px 0;
}

.container p {
  margin: 10px;
}

.user_actions {
  margin-top: 20px;
}

.userBalance {
  border: 1px solid #ffffff99;
  border-radius: 3%;
  padding: 10px;
  color: white;
  width: 30%;
}

.balance {
  display: flex;
  justify-content: space-between;
}
